@import 'vars';
@import 'mixins';

* {
    @include main(16px);
}

main {
    height: 100vh;
    background-image: url("../slike/background.jpg");
    background-size: cover;
    padding: 1em;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        width: 70%;
        margin: 0 auto;
        padding: 0.5em;
        .logo {
            p {
                font-size: 2em;
                font-weight: bold;
                span {
                    color: $main_red;
                    font-size: 1em;
                }
            }
        }
        ul {
            text-align: right;
            li {
                display: inline-block;
                margin-left: 1em;
                a {
                    text-decoration: none;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
    h1 {
        text-align: center;
        color: #fff;
        border-bottom: 1px solid $main_red;
        width: 50%;
        margin: 7em auto 0;
        font-size: 3em;
        
    }
    h4 {
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        font-weight: 500;
    }
}

.catalog {
    text-align: center;
    margin: 5em auto;
    width: 75%;
    background-color: $grey_background;
    h2 {
        text-transform: uppercase;
        font-size: 1.8em;
    }
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 3em auto;
        .card {
            width: 25%;
            padding: 2em;
            img {
                width: 100%;
            }
            .buttons {
                margin: 1em 0;
            }
        }
    }
}

.buttons {
    background-color: $main_red;
    text-decoration: none;
    color: #fff;
    padding: .5em 3em;
    display: inline-block;
    text-transform: uppercase;
}

.pricing {
    margin: 5em 0;
    text-align: center;
    h2 {
        text-transform: uppercase;
        font-size: 1.8em;
    }
    table {
        width: 60%;
        margin: 3em auto;
        border-collapse: collapse;
        td, th {
            padding: .8em;
        }
        thead tr th{
            background-color: $main_red;
            color: #fff;
        }
        .dark-red-cell {
            background-color: $red_dark;
        }
        tbody tr {
            border-bottom: 1px solid $main_text_color;
            th {
                background-color: $grey_background;
            }
        }
    }
    .buttons {
        display: none;
    }
}

footer {
    background-color: #000;
    padding: 1em;
    .logo {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid $main_red;
        font-size: 1.5em;
        span {
            font-size: 1em;
            color: $main_red;
        }
    }
    .address-map {
        padding: 1em;
        display: flex;
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
        address p {
            color: #fff;
        }
        .mapa {
            width: 50%;
        }
    }
}

